body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #444444;
}

a {
  color: #00B7FF;
}

div.input-block {
  display: block;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.center-align {
  left: 50%;
  transform: translateX(-50%);
}
