doctype html
html
  head
    title= 'Weyland Corperation - Home'
    link(rel='stylesheet', href='/stylesheets/cpanel.css')
  body
    table.header
      tr
        td
          a.botman(class="header-button", href="/cpanel/botmanager") Bot Manager
        td
          a.targetman(class="header-button", href="/cpanel/commandmanager") Command Manager
        td
          a.taskstats(class="header-button", href="/cpanel/taskstats") Task Statistics
        td
          a.clearbase(class="header-button", href="/cpanel/clearbase") Clear Base
        td
          a.logout(class="header-button", href="/cpanel/logout") Log Out
